body {
    background:  url('./resources/acimage.jpg');
    background-size: cover;
  }
  
  .top {
    background: rgb(255, 252, 252);
    width: 100%;
    height: 75px;
    opacity: 0.7;
  }
  .logo {
    font-size: 22px;
    padding: 20px;
    float: left;

  }
  .navbar {
    line-height: 75px;
    padding: 0 10px;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 0 8px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  
  .content {
    background: rgba(181, 175, 174, 0.8);
    width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 20px 40px;
  }

  * {box-sizing: border-box;}
  
  .open-button {
    padding:10px 40px;
    background-color: #04AA6D;
    color: white;
    font-size:17px;
    max-width:300px;
    border-radius:20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;  
  }
  
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
   
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    border-radius:20px;
    background-color: white;
    color:#777;
  }
  

  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius:20px;
    background: #ddd;
    resize: none;
    min-height: 200px;
    color:#777;
  }
  
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
     font-size:17px;
    padding: 10px 20px;
    border: none;
    border-radius:20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }
  

  .form-container .cancel {
    background-color: #1974D2;
  }
  
  .form-container .btn:hover, .open-button:hover {
  opacity: 0.5;
  }
